<h3>Post Categories</h3>
<div class="large-4 columns">
  <p class="alert"><%= alert %></p>
  <%= render 'form' %>
  <p class="notice"><%= notice %></p>
  
</div>
<div class="large-8 columns">
<table>
  <thead>
    <tr>
      <th width="300">Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post_categories.each do |post_category| %>
      <tr>
        <td style="font-size: 11px;"><%= post_category.name %></td>
        <td><%= link_to 'X', admin_post_category_path(post_category), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button [ tiny alert ] no-margin' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

