<div class="large-12 columns">

<%= simple_form_for [:admin, @post] do |f| %>
  <div class="form-inputs">
    <div class="large-9 columns">
      <%= f.input :title, placeholder: 'Post Title' %>
    </div>
    <div class="large-3 columns">
      <div class="text-center">
        <%= link_to 'Preview', @post, :class => 'button [ tiny success ]' %> | <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button [ tiny alert ]' %>
	      <div class="create_product_button">
          <%= f.button :submit %> 
	      </div>
      </div>
    </div>
  <div class="large-9 columns">
    <%= f.text_area :content, :input_html => { rows: 600, cols: 600 } %>
  </div>
  <div class="large-3 columns">
      <div class="post-image-preview">
    <%= image_tag(@post.image_url) %>
    </div>
      <%= f.input :image_url %>
      <%= simple_form_for @post, :html => { :multipart => true } do |form| %>
        <%= form.submit 'Upload' %><%= form.file_field :image %>
      <% end %>
      <%= f.label :post_category_id, 'Category' %>
		<%= f.select :post_category_id, PostCategory.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
      <%= f.collection_select :post_category_id, PostCategory.all, :id, :name %>

	<%= simple_form_for(@post_category) do |f| %>
	  <%= f.error_notification %>
	    <%= f.input :name %>
	<div class="text-center">
	    <%= f.button :submit, 'Add Category' %>
	</div>
	<% end %>
    </div>
  </div>
  
<% end %>

<%= simple_form_for [:admin, @post], :html => { :multipart => true } do |form| %>

        
      <% end %>
</div>
