<h1>Add a New Post</h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= link_to 'Back to Posts List', admin_posts_path, class: 'button [tiny small large]' %>  
<hr>

<%= render 'form' %>

<%= tinymce %>
