<div class="row">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= render @cart %>

<!--
<ul>    
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>

-->
<%= link_to 'Continue Shopping', products_path %>
</div>