<div class="large-12 columns">
<%= simple_form_for [:admin, @product] do |f| %>
  <div class="form-inputs">
    <div class="large-9 columns">
      <%= f.input :title, placeholder: 'Product Title' %>
    </div>
    <div class="large-3 columns">
    <%= f.input :price %>
  <div class="form-actions">
    <div class="text-center">
    <%= link_to 'Preview', @product, :class => 'button [ tiny success ]' %> | <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button [ tiny alert ]' %>
    <div class="create_product_button">
    <%= f.button :submit %> 
	</div>
    </div>
    </div>
  </div>
</div>

  <div class="large-9 columns">
    <%= f.text_area :description, class: 'tinymce', rows: 100, cols: 600 %>
  </div>
  <div class="large-3 columns">
	   <div class="post-image-preview text-center">
    <%= image_tag(@product.image_url) %>
    </div>
      <%= f.input :image_url %>

      <%= simple_form_for @product, :html => { :multipart => true } do |form| %>
        <%= form.submit 'Upload' %><%= form.file_field :image %>
      <% end %>

      <%= f.label :product_category_id, 'Category' %>
      <%= f.collection_select :product_category_id, ProductCategory.all, :id, :name %>

	<%= simple_form_for(@product_category) do |f| %>
	  <%= f.error_notification %>
	  
	    <%= f.input :name %>
	<div class="text-center">
	    <%= f.button :submit, 'Add Category' %>
	</div>
	<% end %>
	
    </div>
<% end %>
</div>

