<div class="row">
<%= simple_form_for [:admin, @product] do |f| %>
  <div class="form-inputs">
    <div class="large-9 columns">
      <%= f.input :title, placeholder: 'Product Title' %>
    </div>
    <div class="large-3 columns">
      <%= f.input :image_url %>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-9 columns">
    <%= f.text_area :description, class: 'tinymce', rows: 100, cols: 600 %>
  </div>
  <div class="large-3 columns">
    <%= f.input :price %>
  </div>
  <div class="form-actions">
    <div class="large-3 columns text-center">
    <%= link_to 'Preview', @product, :class => 'button [ tiny success ]' %> | <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button [ tiny alert ]' %>
    <%= f.button :submit %> 
    </div>
  </div>
<% end %>
</div>

