<h1>Products</h1>
<%= link_to 'New Product', new_admin_product_path, :class => 'button [ tiny small large ]' %>
<table>
  <thead>
    <tr>
      <th></th>
      <th width="200">Product Title</th>
      <th width="275">Description</th>
      <th>Product Image</th>
      <th>Product Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to 'Preview', product, :class => 'button [ tiny success ]' %></td>
        <td><%= link_to product.title, edit_admin_product_path(product) %></td>
        <td><%= product.description %></td>
        <td class="th custom-th"><%= image_tag(product.image_url) %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button [ tiny alert ]' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= will_paginate @products, :class => 'pagination-centered' %></p>