<h2>Add a New Product</h2>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= link_to 'Back to Products List', admin_products_path, class: 'button [tiny small large]' %>  
<hr>

<%= render 'form' %>

<%= tinymce %>
