<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h5><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h5>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
