<!-- <h1>Listing posts</h1>

<% @posts.each do |post| %>

  <h3><%= link_to post.title, post %></h3>
  <div class="blog-image">
   <%= image_tag(post.image_url) %>
  </div>
  <div class="blog-content">
   <%= post.content %>
  </div>
<% end %>
<p><%= will_paginate @posts %></p> -->

<!-- Main Page Content and Sidebar -->
  <br>
  <br>
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
 
      
      <% @posts.each do |post| %>
        <article>
          <div class="row">
            <div class="large-12 columns">
              <%= image_tag(post.image_url) %>
              <h3><%= link_to post.title, post %></h3>
            </div>
          </div>
          <%= post.content %>
        </article>
      <% end %>
      <hr />
      <%= will_paginate @posts, :class => 'pagination-centered' %>
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <%= render 'layouts/sidebar' %>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->