<!-- <h1>Listing posts</h1>

<% @posts.each do |post| %>

  <h3><%= link_to post.title, post %></h3>
  <div class="blog-image">
   <%= image_tag(post.image_url) %>
  </div>
  <div class="blog-content">
   <%= post.content %>
  </div>
<% end %>
<p><%= will_paginate @posts %></p> -->

<!-- Main Page Content and Sidebar -->
  <br>
  <br>
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
 
      
      <% @posts.each do |post| %>
        <article>
          <div class="row">
            <div class="large-12 columns">
              <%= image_tag(post.image_url) %>
              <h3><%= link_to post.title, post %></h3>
            </div>
          </div>
          <%= post.content %>
        </article>
      <% end %>
      <hr />
      <%= will_paginate @posts, :class => 'pagination-centered' %>
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">
 
      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Weasels</a></li>
      </ul>
 
      <div class="panel">
        <h5>Featured Posts</h5>
        <% @posts.each do |post| %>
          <h5><%= link_to post.title, post %></h5>
        <% end %>
      </div>
 
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->