<p id="notice"><%= notice %></p>

<p>
  <h3><%= @post.title %></h3>
</p>

<p>
  <%= image_tag(@post.image_url) %>
</p>

<p>
  <%= @post.content %>
</p>

<h3>Comments</h3>
<%= render @post.comments %>

<h6>Add a comment:</h6>
<%= render "comments/form" %>

<%= link_to 'Back', posts_path %>
