<p id="notice"><%= notice %></p>
<br>
<br>
<div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
 
      <article>
		<p>
  		<h3>
  			<%= @post.title %>
  		</h3>
  		<p>Posted on <%= @post.created_at %></p>
		</p>

		<p>
  			<%= image_tag(@post.image_url) %>
		</p>
  			<%= @post.content %>

		<h3>Comments</h3>
			<%= render @post.comments %>

		<h6>Add a comment:</h6>
			<%= render "comments/form" %>
		</article>

	</div>
	<%= render 'layouts/sidebar' %>
</div>





