<%if notice %>
<p id="notice"><%= notice %></p>
<% end %>



<!-- <% @products.each do |product| %>

  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= link_to product.title, product %></h3>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <p></p>
      <%= button_to 'Add to Cart', line_items_path(:product_id => product) %>
    </div>
  </div>

<% end %> -->

<br>

 <div class="row">
 	
  <!-- Side Bar -->
 
        <div class="small-3 columns">
          <div class="hide-for-small panel">
            <h3>Sidebar</h3>
            <h5 class="subheader">Categories</h5>
           		.<br>
           		.<br>
           		.<br>
           		.<br>
           		.<br>
           		.<br>
           		.<br>
           		.<br>
           		.<br>
           		.<br>
           		.<br>
           		.<br>


          </div>
 
          <a href="#">
          <div class="panel callout radius">
            <h6>99  items in your cart</h6>
          </div>
 		      </a>
    <!-- End Side Bar -->
 
 	<!-- Side Bar 2 -->
 
       
          <div class="hide-for-small panel">
            <h6 class="text-center">Random Product</h6>
            <hr>
              <% product = Product.random  %>
           		  <%= image_tag(product.image_url) %> 
                <div class="text-center">
           		  <h5><%= link_to product.title, product %></h5>
                <h6 class="subheader"><%= number_to_currency(product.price) %></h6>
                </div>
           		  <%= button_to 'Add to Cart', line_items_path(:product_id => product), :class => 'button [tiny small large]' %>             
          </div>

        </div>
 		
    <!-- End Side Bar 2 -->
 
    <!-- Thumbnails -->
 
        <div class="small-9 columns">
          <% @products.each_slice(3) do |slice| %>
          <div class="row">
 			<% slice.each do |product| %>
            <div class="small-4 columns">
             <%= image_tag(product.image_url) %>
              <div class="panel" style="padding-top: 5px;">
              <div class="text-center">
                <h5><%= link_to product.title, product %></h5>
                <h6 class="subheader"><%= number_to_currency(product.price) %></h6>
              </div>              
                  <%= button_to 'Add to Cart', line_items_path(:product_id => product), :class => 'button [tiny small large]' %>
              </div>
            </div>
            <% end %>
          </div> 
          <% end %>
        </div>
            
 
 
    <!-- End Thumbnails -->
 			<p><%= will_paginate @products, :class => 'pagination-centered' %></p>
 
    <!-- Managed By -->
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">
 
                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&text=Site Owner">
                  </div>
 
                  <div class="large-10 small-6 columns">
                    <strong> </strong>                   
                  </div>
 
                </div>
              </div>
            </div>
    <!-- End Managed By -->
          </div>
        
      
 



  