<p id="notice"><%= notice %></p>

<p>
  <h3><%= @product.title %></h3>
</p>

<p>
  <%= image_tag(@product.image_url) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<h6><%= @product.product_category_id %></h6>

<%= link_to 'Back', products_path %>
<%= button_to 'Add to Cart', line_items_path(:product_id => @product) %>




