<p id="notice"><%= notice %></p>

<p>
  <h3><%= @product.title %></h3>
</p>

<p>
  <%= image_tag(@product.image_url) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<%= link_to 'Back', products_path %>
