<!-- 
	Admin Dashboard Top Navigation
   partial: _dashboardnavigation.html.erb 
==========================================
-->

<div class="fullwidth">
<%= link_to "Verone", root_path, :class => 'brand' %>

<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/admin/dashboard">Home</a></li>
      <li><a href="/admin/posts">Posts</a></li>
	  <li class="has-dropdown"><a href="/admin/products">Products</a>
	  	<ul class="dropdown">
	  		<li><a href="/admin/products/new">Add New Product</a></li>
	  		<li><a href="/admin/products/new">Delete Products</a></li>
	  	</ul>
	  </li>
	  <li><a href="/admin/orders">Orders</a></li>
	  <li class="has-dropdown"><a href="/admin/users">Users</a>
	  	<ul class="dropdown">
	  		<li><a href="/products/new">Add New User</a></li>
	  	</ul>
	  </li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
	 	<ul class="nav">
		  <% if user_signed_in? %>
		    <li>
		    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
		    </li>
		  <% else %>
		    <li>
		    <%= link_to 'Login', new_user_session_path %>
		    </li>
		  <% end %>
		  <% if user_signed_in? %>
		    <li>
		    <%= link_to 'Edit account', edit_user_registration_path %>
		    </li>
		    <% if current_user.has_role? :admin %>
		      <li>
		      <%= link_to 'Admin', admin_dashboard_path %>
		      </li>
		    <% end %>
		  <% else %>
		    <li>
		    <%= link_to 'Sign up', new_user_registration_path %>
		    </li>
		  <% end %>
		</ul>
    </ul>
  </section>
</nav>
</div>