<div class="row">

<!-- <%= link_to "Verone", root_path, :class => 'brand' %> -->

<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section fullwidth">
  	<div class="logo">
		<a href="/">
			<img src="/assets/verone-logo-new-45.png" />
		</a>
	</div>
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
	  
        <li class="has-dropdown megamenu not-click"><a href="#">Mega Menu</a>
          <ul class="dropdown dropdown-wrapper">
            <li>
              <div>
                <div class="small-6 columns">
                  <ul>
                    <li><h3>Heading 1</h3></li>
                    <li class="active"><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                  </ul>
                </div>
                <div class="small-6 columns">
                  <ul>
                    <li><h3>Heading 2</h3></li>
                    <li class="active"><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="has-dropdown megamenu not-click"><a href="#">Mega Menu 2</a>
          <ul class="dropdown dropdown-wrapper">
            <li>
              <div>
                <div class="small-6 columns">
                  <ul>
                    <li><h3>Heading 1</h3></li>
                    <li class="active"><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                  </ul>
                </div>
                <div class="small-6 columns">
                  <ul>
                    <li><h3>Heading 2</h3></li>
                    <li class="active"><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
	  <li><a href="/posts/">Blog</a></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
	 	<ul class="nav">
		  <% if user_signed_in? %>
		    <li>
		    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
		    </li>
		  <% else %>
		    <li>
		    <%= link_to 'Login', new_user_session_path %>
		    </li>
		  <% end %>
		  <% if user_signed_in? %>
		    <li>
		    <%= link_to 'Edit account', edit_user_registration_path %>
		    </li>
		    <% if can? :manage, :all %>		    
		      <li>
		      <%= link_to 'Admin', admin_dashboard_path %>
		      </li>
		    <% end %>
		  <% else %>
		    <li>
		    <%= link_to 'Sign up', new_user_registration_path %>
		    </li>
		  <% end %>
		</ul>
    </ul>
  </section>
</nav>
</div>
</div>